In [24]:
#dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [25]:
#read in csvs in order to begin ML
exclusionList = pd.read_csv(os.path.join( 'Resources', 'exclusionlist.csv'))
# exclusionList.head()
opiodNames = pd.read_csv(os.path.join( 'Resources', 'opiodNames.csv'))
# opiodNames.head()
physicianInfo = pd.read_csv(os.path.join( 'Resources', 'physicianInfo.csv'))
# physicianInfo.head()
prescriberDrugs = pd.read_csv(os.path.join( 'Resources', 'PrescriberDrugs.csv'))
# prescriberDrugs.head()

In [26]:
# Providerjoined = drugProviderSmallagg.join(drugProviderSmallnoDup, on = ["NPI"])
physicianInfo.count()

Unnamed: 0              1125988
physician_first_name    1124614
physician_last_name     1124612
recipient_city          1125986
recipient_state         1125830
total_payment           1125986
dtype: int64

In [27]:
#join tables
drugColumns = prescriberDrugs.columns
physiciancolunns = physicianInfo.columns
exclusioncolumns = exclusionList.columns
print("Drug:") 
print(drugColumns)
print("Physician")
print(physiciancolunns)
print("Exclusion")
print(exclusioncolumns)

Drug:
Index(['Unnamed: 0', 'NPI', 'sum(Total Claim Count)', 'sum(Total Drug Cost)',
       'Provider Last Name', 'Provider First Name', 'Provider City',
       'Provider State'],
      dtype='object')
Physician
Index(['Unnamed: 0', 'physician_first_name', 'physician_last_name',
       'recipient_city', 'recipient_state', 'total_payment'],
      dtype='object')
Exclusion
Index(['Unnamed: 0', 'Last Name', 'First Name', 'Business Name', 'Specialty',
       'NPI', 'City', 'State', 'ZIP'],
      dtype='object')

In [49]:
# exclusionList.dropna("Last Name"
# exclusionList[(exclusionList["Last Name"].notnull() & exclusionList["First Name"].notnull() ) | (exclusionList["NPI"] != 0)]

,Unnamed: 0,Last Name,First Name,Business Name,Specialty,NPI,City,State,ZIP
0,0,NaN,NaN,"ANATOMY RX, LLC",PHARMACY,1356713226,LOS ANGELES,CA,90025
1,1,NaN,NaN,"CANARSIE A W A R E, INC",SUBSTANCE ABUSE REHA,1497971741,BROOKLYN,NY,11236
2,2,NaN,NaN,DAY AND NIGHT BEHAVIORAL LLC,COUNSELING CENTER,1619426715,NORTH LAS VEGAS,NV,89081
3,3,NaN,NaN,"EDWARDO M YAMBO MD, PC",GENERAL PRACTICE,1194829754,DEER PARK,NY,11729
4,4,NaN,NaN,LIFESTREAM HEALTHCARE ALLIANCE,HOME HEALTH AGENCY,1679844161,STURBRIDGE,MA,1566
...,...,...,...,...,...,...,...,...,...
147,147,WILLIAMS,FLORA,NaN,NURSE/NURSES AIDE,0,BATON ROUGE,LA,70802
148,148,WRIGHT,STEPHANY,NaN,COUNSELING CENTER,1396048476,NORTH LAS VEGAS,NV,89081
149,149,YOUNG,SABRINA,NaN,ASSISTED LIVING FACI,0,STOCKTON,CA,95209
150,150,ZHANG,HAILONG,NaN,NIH,0,NOTTINGHAM,NH,3290
151,151,ZIMMERMAN,TANA,NaN,NURSE/NURSES AIDE,0,NEWCOMERSTOWN,OH,43832

In [48]:
exclusion_list_with_names = df
exclusion_list_with_names['outcome1'] = 1
exclusion_list_with_npis['outcome2'] = 1

(152, 9)

In [32]:
#join drug and exclusion on NPI
drugandExclusion = prescriberDrugs.merge(exclusionList, on = ["NPI"])
dropColumns = ["Unnamed: 0_x", "Unnamed: 0_y", "Provider Last Name", "Provider First Name","Provider City","Provider State"]
# drugandExclusion.drop(drugandExclusion[1],axis=1)
drugandExclusion.drop(dropColumns, axis = 1, inplace = True)
drugandExclusion

,NPI,sum(Total Claim Count),sum(Total Drug Cost),Last Name,First Name,Business Name,Specialty,City,State,ZIP
0,1225092372,5081,2633315.75,VERSTRAETE,JOHN,NaN,INTERNAL MEDICINE,KANSAS CITY,KS,66106
1,1659573400,2163,251939.43,WESSEL,RICHARD,NaN,INTERNAL MEDICINE,POPLAR BRANCH,NC,27965
2,1003850603,3909,290007.53,OWENS,STEVEN,NaN,FAMILY PRACTICE,MASON,MI,48854
3,1639242738,8523,519978.40,WALDO,DONNA,NaN,NURSE/NURSES AIDE,SAINT LOUIS,MO,63128
4,1346297348,147,6425.34,BASILE,ANDREW,NaN,EMERGENCY MEDICINE,POMPANO BEACH,FL,33062
5,1124000765,178,14082.73,WEBB,JOHN,NaN,GENERAL PRACTICE,HARTSVILLE,SC,29551
6,1356366777,3113,134381.75,TORET,MICHEL,NaN,FAMILY PRACTICE,JEANNETTE,PA,15644
7,1669418794,61,8839.95,MONTANO,CARLOS,NaN,SURGERY,COSTA MESA,CA,92626
8,1679754725,851,45638.99,ABBASI,MAAZ,NaN,INTERNAL MEDICINE,MISSOURI CITY,TX,77459
9,1245252469,8954,467599.70,REEDER,ROBERT,NaN,INTERNAL MEDICINE,FORT LAUDERDALE,FL,33308
10,1679763122,1909,62973.55,DEMILLE,JULIE,NaN,NURSE PRACTITIONER (,DUBLIN,CA,94568
11,1609109834,105,6335.26,AYALA,IRIS,NaN,GYN/OBS,CLERMONT,FL,34715

In [29]:
#make final table with physician info
physicianInfo = physicianInfo.rename(columns = {"physician_first_name":"First Name", "physician_last_name":"Last Name"})
physicianInfo

,Unnamed: 0,First Name,Last Name,recipient_city,recipient_state,total_payment
0,0,VIVIAN,GRIFFIN,NEW PORT RICHEY,FL,368.98
1,1,STEPHEN,LOEHR,DURHAM,NC,65.95
2,2,BRUCE,ZABLOW,ORADELL,NJ,219.17
3,3,RON,PALMON,NEW YORK,NY,9193.35
4,4,HENRY,BEECHER,BRONX,NY,29.36
...,...,...,...,...,...,...
1125983,1125983,KAITLIN,HOOVER,SAN DIEGO,CA,18.03
1125984,1125984,REGIO,PENNA,COLDWATER,MI,57.78
1125985,1125985,NEIL,PANDYA,OTTAWA,IL,12.50
1125986,1125986,FRANK,DE STEFANO,ATLANTA,GA,18.53
1125987,1125987,STEVEN,KRUMHOLZ,WEST PALM BEACH,FL,10.92

In [30]:
#merge to get the final table drugandExclusion = prescriberDrugs.merge(exclusionList, on = ["NPI"])
finalTableForML = physicianInfo.merge(drugandExclusion, on = ["Last Name", "First Name"], how = "left")
finalTableForML.drop("Unnamed: 0",axis = 1, inplace = True)
finalTableForML.shape

(1125988, 13)

In [31]:
finalTableForML

,First Name,Last Name,recipient_city,recipient_state,total_payment,NPI,sum(Total Claim Count),sum(Total Drug Cost),Business Name,Specialty,City,State,ZIP
0,VIVIAN,GRIFFIN,NEW PORT RICHEY,FL,368.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STEPHEN,LOEHR,DURHAM,NC,65.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BRUCE,ZABLOW,ORADELL,NJ,219.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RON,PALMON,NEW YORK,NY,9193.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HENRY,BEECHER,BRONX,NY,29.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125983,KAITLIN,HOOVER,SAN DIEGO,CA,18.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125984,REGIO,PENNA,COLDWATER,MI,57.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125985,NEIL,PANDYA,OTTAWA,IL,12.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125986,FRANK,DE STEFANO,ATLANTA,GA,18.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125987,STEVEN,KRUMHOLZ,WEST PALM BEACH,FL,10.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN