In [2]:
#dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [ ]:
#read in csvs in order to begin ML
exclusionList = pd.read_csv(os.path.join( 'Resources', 'exclusionlist.csv'))
# exclusionList.head()
opiodNames = pd.read_csv(os.path.join( 'Resources', 'opiodNames.csv'))
# opiodNames.head()
physicianInfo = pd.read_csv(os.path.join( 'Resources', 'physicianInfo.csv'))
# physicianInfo.head()
prescriberDrugs = pd.read_csv(os.path.join( 'Resources', 'PrescriberDrugs.csv'))
# prescriberDrugs.head()

In [ ]:
# Providerjoined = drugProviderSmallagg.join(drugProviderSmallnoDup, on = ["NPI"])
physicianInfo.count()

In [ ]:
#join tables
drugColumns = prescriberDrugs.columns
physiciancolunns = physicianInfo.columns
exclusioncolumns = exclusionList.columns
print("Drug:") 
print(drugColumns)
print("Physician")
print(physiciancolunns)
print("Exclusion")
print(exclusioncolumns)

In [ ]:
# exclusionList.dropna("Last Name"
# exclusionList[(exclusionList["Last Name"].notnull() & exclusionList["First Name"].notnull() ) | (exclusionList["NPI"] != 0)]

In [ ]:
exclusion_list_with_names = df
exclusion_list_with_names['outcome1'] = 1
exclusion_list_with_npis['outcome2'] = 1

In [ ]:
#join drug and exclusion on NPI
drugandExclusion = prescriberDrugs.merge(exclusionList, on = ["NPI"])
dropColumns = ["Unnamed: 0_x", "Unnamed: 0_y", "Provider Last Name", "Provider First Name","Provider City","Provider State"]
# drugandExclusion.drop(drugandExclusion[1],axis=1)
drugandExclusion.drop(dropColumns, axis = 1, inplace = True)
drugandExclusion

In [ ]:
#make final table with physician info
physicianInfo = physicianInfo.rename(columns = {"physician_first_name":"First Name", "physician_last_name":"Last Name"})
physicianInfo

In [ ]:
#merge to get the final table drugandExclusion = prescriberDrugs.merge(exclusionList, on = ["NPI"])
finalTableForML = physicianInfo.merge(drugandExclusion, on = ["Last Name", "First Name"], how = "left")
finalTableForML.drop("Unnamed: 0",axis = 1, inplace = True)
finalTableForML.shape

In [ ]:
finalTableForML

In [3]:
#connect to database for actual queries
#dependency
from sqlalchemy import create_engine

#set up post gress string
database_path = "healthcare-fraud-db.cakair5uyevn.us-east-1.rds.amazonaws.com"
# jdbc_url="jdbc:postgresql://healthcare-fraud-db.cakair5uyevn.us-east-1.rds.amazonaws.com:5432/healthcare-fraud-db"
# config = {"user":"root", 
#           "password": "rootroot", 
#           "driver":"org.postgresql.Driver"}
port = '5432'
user = 'root'
password = 'rootroot'
database_name = 'healthcare-fraud-db'
#read table from postgres
# final_table = final_table.read.jdbc(url=jdbc_url, table='final_table', mode=mode, properties=config)
# final_table.head()

#postgres string
pgString = ('postgresql://{user}:{password}@{ipaddress}:{port}/{dbname}'.\
           format(user = user,\
                 password = password,\
                 ipaddress = database_path,\
                 port = port,\
                 dbname = database_name))

engine = create_engine(pgString)

In [4]:
#lets make sure this worked
data =  engine.execute("SELECT * FROM final_table")
#convert data into a data frame to be able to call and do machine learning
df = pd.read_sql("SELECT * FROM final_table", engine)
df.head()

,npi,is_fraud,total_claims,total_drug_cost,provider_last_name,provider_first_name,provider_city,provider_state,total_payment
0,1730115106,0,61,1629.38,GAJJAR,AAKASH,GALVESTON,TX,101.34
1,1508975772,0,655,67327.96,ABBAS,AAMER,EL PASO,TX,196.21
2,1134439581,0,29888,1902530.64,CLARK,AARON,STATESBORO,GA,1028.72
3,1831310770,0,9968,544819.16,HANSHAW,AARON,DAYTON,OH,65.96
4,1306072038,0,67,298.71,INSEL,AARON,FARMINGTON,CT,2280.76

In [5]:
#write data frame to csv for easy access to make visuals
df.to_csv("Resources/finalTable.csv")

In [7]:
df. count()

npi                    19551
is_fraud               19551
total_claims           19551
total_drug_cost        19551
provider_last_name     19551
provider_first_name    19551
provider_city          19551
provider_state         19551
total_payment          19551
dtype: int64